<h1>Recipes</h1>

<%= link_to "New Recipe", new_recipe_path %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Time</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.cook_time %> min</td>
        <td><%= recipe.difficulty %></td>
        <td>
          <p></p>
          <%= link_to "See", recipe_path(recipe), class: "btn btn-success btn-sm" %>
          <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-warning btn-sm" %>
          <%= button_to "Delete", recipe_path(recipe), method: :delete, data: { turbo_confirm: "¿Estás seguro?" } %>
          <p></p>


      </tr>
    <% end %>
  </tbody>
</table>
