<h1><%= @recipe.title %></h1>

<p>Tiempo de preparación: <%= @recipe.cook_time %> minutos</p>
<p>Dificultad: <%= @recipe.difficulty %></p>
<p>Instrucciones:</p>
<div><%= @recipe.instructions %></div>

<%= link_to "Editar", edit_recipe_path(@recipe), class: "btn btn-warning" %>
<%= link_to "Volver al listado", recipes_path, class: "btn btn-secondary" %>

