<h1><%= @recipe.title %></h1>

<p>Preparation Time: <%= @recipe.cook_time %> minutos</p>
<p>Difficulty: <%= @recipe.difficulty %></p>
<p>Instructions: </p>
<div><%= @recipe.instructions %></div>
<p></p>

<%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-warning" %>
<p></p>
<%= link_to "Back to List", recipes_path, class: "btn btn-secondary" %>

